version: "3"

volumes:
  database:
  uploads:

services:
  app:
    image: quay.io/hedgedoc/hedgedoc:1.9.7
    container_name: hedgedoc-app
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - CMD_DB_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}
      - CMD_DOMAIN=laub.liebechaos.org
      - CMD_PROTOCOL_USESSL=true
      - CMD_DEFAULT_PERMISSION=limited
      - CMD_ALLOW_EMAIL_REGISTER=false
      - CMD_PORT=4000
    volumes:
      - uploads:/hedgedoc/public/uploads
    depends_on:
      - database
    ports:
      - 4000:4000

  database:
    image: postgres:13.4-alpine
    container_name: hedgedoc-db
    env_file:
      - .env
    volumes:
      - database:/var/lib/postgresql/data
    restart: always

