version: '3'

volumes:
  db:
  dump:
  uploads:

services:
  app:
    image: rocket.chat:5.4.4
    container_name: rocketchat-app
    depends_on:
      - db
    restart: unless-stopped
    volumes:
      - uploads:/app/uploads
    environment:
      - MONGO_URL=mongodb://db:27017/rocketchat?replicaSet=rs0
      - MONGO_OPLOG_URL=mongodb://db:27017/local?replicaSet=rs0
      - ROOT_URL=https://wald.liebechaos.org
      - PORT=3000
      - DEPLOY_METHOD=docker
      - DEPLOY_PLATFORM=${DEPLOY_PLATFORM}
    expose:
      - 3000

  db:
    image: mongo:5.0.17
    container_name: rocketchat-db
    restart: unless-stopped
    volumes:
      - db:/data/db
      - dump:/dump
    environment:
      - MONGODB_REPLICA_SET_MODE=primary
      - MONGODB_REPLICA_SET_NAME=rs0
      - MONGODB_PORT_NUMBER=27017
      - MONGODB_INITIAL_PRIMARY_HOST=mongodb
      - MONGODB_INITIAL_PRIMARY_PORT_NUMBER=27017
      - MONGODB_ADVERTISED_HOSTNAME=mongodb
      - MONGODB_ENABLE_JOURNAL=true
      - ALLOW_EMPTY_PASSWORD=true
